body{
    
}
.container{
    display: flex;
}
.part1{
    width: 50%;
}
.part1 img{
    width: 50%;
}
.mission img{
    width: 30%;
}
 h1{
    text-align: center;
}
.code_img img{
    width: 60%;
}
.project-img img{
    width: 40%;

}

